.test-label {
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
    display: block;
}

.test-input {
    border-radius: 5px;
}

.test-input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.slider-value{
    padding: 15px;
    font-weight: bold;
}
.slider {
    vertical-align: middle;
    width: 125px;
}

.admin-button {
    border-radius: 5px;
    transition-duration: 0.4s;
}

.admin-button:hover {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.small-container {
    width: 45%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#spacing-slider{
    display: inline-block;
}
#line-slider{
    display: inline-block;
}

#slider {
    margin: 10px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 0;
    width: 5px;
    padding-left: 5px;
}