p {
    line-height: 25px !important;
    letter-spacing: 25px !important;
    color: #256039 !important;
}

p {
    line-height: 25px !important;
    letter-spacing: 12px !important;
    color: #103511 !important;
}
