<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Test</h1>

 Line height: <br>
 <input  type="number" name="line-height" id="line-height" required>
 <br>
 Letter spacing: <br>
 <input  type="number" name="letter-spacing" id="letter-spacing" required>
 <br>
 Color picker: <br>
 <input type="text" name="color" class="color-picker" value="#bada55" id="color"  required/>
 <br>
 <br>
 <button type="submit" name="submit"  id="submit" >Save details</button>
</body>
</html>