<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Test</h1>
<div class="small-container" id="input-picker">
<label class="test-label">Line height: </label><br>
<input type="number" name="line-height" id="line-height" class="test-input" required>
<br>
<label class="test-label"> Letter spacing:</label> <br>
<input type="number" name="letter-spacing" id="letter-spacing" class="test-input" required>
<br>
<label  class="test-label">Color picker:</label> <br>
<input type="text" name="color" class="color-picker" value="#bada55" id="color" required/>
<br>
<br>
<button type="submit" name="submit" id="submit" class="admin-button">Save details</button>

</div>

<div class="small-container" id="current-values"></div>
</body>
</html>